In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn  as sns
import sklearn
import os
from sklearn.model_selection import train_test_split
from sklearn.ensemble import StackingClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import GradientBoostingClassifier

In [3]:
# clean_bal_df=pd.read_csv(r'balanced_cleaned_train_data.csv')
# clean_bal_df.head()

,Unnamed: 0,Current Loan Amount,Credit Score,Annual Income,Monthly Debt,Years of Credit History,Months since last delinquent,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,...,Purpose_Other,Purpose_Take a Trip,Purpose_major_purchase,Purpose_moving,Purpose_other,Purpose_renewable_energy,Purpose_small_business,Purpose_vacation,Purpose_wedding,Loan Status_Fully Paid
0,0,445412.0,709.0,1167493.0,5214.74,17.2,32.0,6.0,1.0,228190.0,...,0,0,0,0,0,0,0,0,0,1
1,1,262328.0,732.0,1219961.5,33295.98,21.1,8.0,35.0,0.0,229976.0,...,0,0,0,0,0,0,0,0,0,1
2,2,789250.0,741.0,2231892.0,29200.53,14.9,29.0,18.0,1.0,297996.0,...,0,0,0,0,0,0,0,0,0,1
3,3,347666.0,721.0,806949.0,8741.90,12.0,32.0,9.0,0.0,256329.0,...,0,0,0,0,0,0,0,0,0,1
4,4,176220.0,732.0,1219961.5,20639.70,6.1,32.0,15.0,0.0,253460.0,...,0,0,0,0,0,0,0,0,0,1

In [7]:
clean_bal_df=pd.read_csv(r'credit_train_cleaned.csv')
clean_bal_df.head()

,Loan Status,Current Loan Amount,Term,Credit Score,Annual Income,Years in current job,Home Ownership,Purpose,Monthly Debt,Years of Credit History,Months since last delinquent,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Maximum Open Credit,Bankruptcies,Tax Liens
0,Fully Paid,445412.0,Short Term,709.0,1167493.0,8 years,Home Mortgage,Home Improvements,5214.74,17.2,32.0,6.0,1.0,228190.0,416746.0,1.0,0.0
1,Fully Paid,262328.0,Short Term,732.0,1219961.5,10+ years,Home Mortgage,Debt Consolidation,33295.98,21.1,8.0,35.0,0.0,229976.0,850784.0,0.0,0.0
2,Fully Paid,789250.0,Short Term,741.0,2231892.0,8 years,Own Home,Debt Consolidation,29200.53,14.9,29.0,18.0,1.0,297996.0,750090.0,0.0,0.0
3,Fully Paid,347666.0,Long Term,721.0,806949.0,3 years,Own Home,Debt Consolidation,8741.90,12.0,32.0,9.0,0.0,256329.0,386958.0,0.0,0.0
4,Fully Paid,176220.0,Short Term,732.0,1219961.5,5 years,Rent,Debt Consolidation,20639.70,6.1,32.0,15.0,0.0,253460.0,427174.0,0.0,0.0

In [8]:
clean_bal_df= pd.get_dummies(clean_bal_df,drop_first=True)

In [9]:
clean_bal_df.head()

,Current Loan Amount,Credit Score,Annual Income,Monthly Debt,Years of Credit History,Months since last delinquent,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Maximum Open Credit,...,Purpose_Medical Bills,Purpose_Other,Purpose_Take a Trip,Purpose_major_purchase,Purpose_moving,Purpose_other,Purpose_renewable_energy,Purpose_small_business,Purpose_vacation,Purpose_wedding
0,445412.0,709.0,1167493.0,5214.74,17.2,32.0,6.0,1.0,228190.0,416746.0,...,0,0,0,0,0,0,0,0,0,0
1,262328.0,732.0,1219961.5,33295.98,21.1,8.0,35.0,0.0,229976.0,850784.0,...,0,0,0,0,0,0,0,0,0,0
2,789250.0,741.0,2231892.0,29200.53,14.9,29.0,18.0,1.0,297996.0,750090.0,...,0,0,0,0,0,0,0,0,0,0
3,347666.0,721.0,806949.0,8741.90,12.0,32.0,9.0,0.0,256329.0,386958.0,...,0,0,0,0,0,0,0,0,0,0
4,176220.0,732.0,1219961.5,20639.70,6.1,32.0,15.0,0.0,253460.0,427174.0,...,0,0,0,0,0,0,0,0,0,0

In [10]:
clean_bal_df.columns

Index(['Current Loan Amount', 'Credit Score', 'Annual Income', 'Monthly Debt',
       'Years of Credit History', 'Months since last delinquent',
       'Number of Open Accounts', 'Number of Credit Problems',
       'Current Credit Balance', 'Maximum Open Credit', 'Bankruptcies',
       'Tax Liens', 'Loan Status_Fully Paid', 'Term_Short Term',
       'Years in current job_10+ years', 'Years in current job_2 years',
       'Years in current job_3 years', 'Years in current job_4 years',
       'Years in current job_5 years', 'Years in current job_6 years',
       'Years in current job_7 years', 'Years in current job_8 years',
       'Years in current job_9 years', 'Years in current job_< 1 year',
       'Home Ownership_Home Mortgage', 'Home Ownership_Own Home',
       'Home Ownership_Rent', 'Purpose_Buy House', 'Purpose_Buy a Car',
       'Purpose_Debt Consolidation', 'Purpose_Educational Expenses',
       'Purpose_Home Improvements', 'Purpose_Medical Bills', 'Purpose_Other',
       'Purpose_Take a Trip', 'Purpose_major_purchase', 'Purpose_moving',
       'Purpose_other', 'Purpose_renewable_energy', 'Purpose_small_business',
       'Purpose_vacation', 'Purpose_wedding'],
      dtype='object')

In [11]:
imp_features = ['Annual Income','Home Ownership_Home Mortgage','Credit Score',
                'Current Loan Amount','Home Ownership_Rent','Home Ownership_Own Home',
                'Term_Short Term','Years in current job_10+ years',
                'Purpose_Debt Consolidation','Monthly Debt',
                'Current Credit Balance','Number of Credit Problems',
                'Maximum Open Credit','Years in current job_2 years',
                'Years in current job_3 years','Number of Open Accounts',
                'Years of Credit History','Years in current job_< 1 year',
                'Months since last delinquent','Years in current job_4 years']

In [12]:
# splitting data
x=clean_bal_df[imp_features]
y=clean_bal_df['Loan Status_Fully Paid']
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=42)

In [13]:
x.head(10)

,Annual Income,Home Ownership_Home Mortgage,Credit Score,Current Loan Amount,Home Ownership_Rent,Home Ownership_Own Home,Term_Short Term,Years in current job_10+ years,Purpose_Debt Consolidation,Monthly Debt,Current Credit Balance,Number of Credit Problems,Maximum Open Credit,Years in current job_2 years,Years in current job_3 years,Number of Open Accounts,Years of Credit History,Years in current job_< 1 year,Months since last delinquent,Years in current job_4 years
0,1167493.0,1,709.0,445412.0,0,0,1,0,0,5214.74,228190.0,1.0,416746.0,0,0,6.0,17.2,0,32.0,0
1,1219961.5,1,732.0,262328.0,0,0,1,1,1,33295.98,229976.0,0.0,850784.0,0,0,35.0,21.1,0,8.0,0
2,2231892.0,0,741.0,789250.0,0,1,1,0,1,29200.53,297996.0,1.0,750090.0,0,0,18.0,14.9,0,29.0,0
3,806949.0,0,721.0,347666.0,0,1,0,0,1,8741.90,256329.0,0.0,386958.0,0,1,9.0,12.0,0,32.0,0
4,1219961.5,0,732.0,176220.0,1,0,1,0,1,20639.70,253460.0,0.0,427174.0,0,0,15.0,6.1,0,32.0,0
5,896857.0,1,729.0,206602.0,0,0,1,1,1,16367.74,215308.0,0.0,272448.0,0,0,6.0,17.3,0,32.0,0
6,1184194.0,1,730.0,217646.0,0,0,1,0,1,10855.08,122170.0,1.0,272052.0,0,0,13.0,19.6,1,10.0,0
7,1085812.0,1,719.0,648714.0,0,0,0,0,0,14806.13,193306.0,0.0,864204.0,0,0,15.0,8.2,1,8.0,0
8,2559110.0,0,678.0,548746.0,1,0,1,0,1,18660.28,437171.0,0.0,555038.0,1,0,4.0,22.6,0,33.0,0
9,1454735.0,0,739.0,215952.0,1,0,1,0,1,39277.75,669560.0,0.0,1021460.0,0,0,20.0,13.9,1,32.0,0

In [14]:
y.head(50)

0     1
1     1
2     1
3     1
4     1
5     0
6     1
7     0
8     1
9     1
10    1
11    1
12    1
13    1
14    1
15    1
16    0
17    1
18    1
19    1
20    0
21    1
22    0
23    1
24    1
25    1
26    1
27    1
28    1
29    1
30    1
31    1
32    0
33    1
34    1
35    1
36    1
37    1
38    0
39    1
40    0
41    1
42    1
43    0
44    1
45    1
46    1
47    1
48    1
49    0
Name: Loan Status_Fully Paid, dtype: uint8

### Model: 
* Stacked Classifier using DecisionTree and RandomForest as Base estimator and GradientBoostingClassifier as Final Estimator.

In [15]:

#  model fitting
base_learners = [('Decision Tree', DecisionTreeClassifier(min_samples_split=41,min_samples_leaf=63,
                                                          max_depth=36,criterion='entropy')),
                 ('Random Forest', RandomForestClassifier(random_state=10,n_estimators=400,min_samples_split=5,
                                    max_features='auto',max_depth=60,bootstrap=False))]

stack_model_gdBoost_partial = StackingClassifier(estimators = base_learners, final_estimator = GradientBoostingClassifier(random_state = 8))


stack_model_gdBoost_partial.fit(x_train, y_train)

y_pred_imp_feature = stack_model_gdBoost_partial.predict(x_test)

In [16]:
import pickle

file=open('loan_status_prediction_model.pkl','wb')

pickle.dump(stack_model_gdBoost_partial,file)
file.close()

### Test Data

In [17]:
stack_model_gdBoost_partial.predict([[896857.0,1,729,206602.0,0,0,1,1,
                                     1,16367.74,215308.0,0.0,272448.0,0,0,6.0,17.3,0,32.0,0]])

array([0], dtype=uint8)